body {
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
}

h1 {
    color:#F6BD60;
    font-size: 36px;
}

h2 {
    color:#F6BD60;
}

footer { 
    background-color: #90F1EF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 24px;
}

main { 
    display: flex;
    align-items: center;
    padding: 5rem 5rem 8rem 5rem;
}


#aboutus-text p { 
    font-size: 20px;
}



footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 20px;
}

@media only screen and (min-width:601px){
    #burger{
        display:none;
    }    
    #main-cat-img{
        transform: translate(-42px, 18px);
        box-shadow: 70px -70px #FFD6E0;
    }
    #aboutus-text {
        padding-right: 5rem;
    }
    
}

@media only screen and (max-width: 600px) {
    ul{
        display: none;
    }   
    body {
      box-sizing: border-box;
      min-height: 100vh;
      min-width: 100vw;
    }
    nav{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: Row;
        margin-right: 5%;
        }

    main{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        }

    footer{
        display:flex;
        flex-direction: column;
        align-items: center;
        }
  }