h1{
    color:#f6bd60;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: Normal;
    Font-weight: 700;
    line-height: Normal;
    margin-left: 30px;
}
h2{
    color:#f6bd60;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 251px;
}
body{
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height:normal;
    color: #0A1045;
    text-align: left;
    overflow-x: hidden;
}

nav{
    display: flex;
    margin-bottom: 60px;
    align-items: center;

}

#navigate{
    width: 95%;
    justify-content: space-between;
}
#menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


div{
    display: flex;
}

p{
    margin-left: 251px;
    inline-size: 630px;
}

footer{
    margin-left: -200px;
    margin-top: 100px;
    padding-top: 22px;
    background-color: #90F1EF;
    display: flex;
    height: 150px;
    text-align: center;
    font-size: 40px;
}

#bottom{
    width: 111%;
    justify-content: space-between;
}
#icons{
    width: 18%;
    justify-content: space-around;
}
